<!DOCTYPE html>
<html>
<head>
  <title>Politica</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="updateClock(); setInterval('updateClock()', 1000 )">
<span id="clock" >&nbsp;</span>
<%= yield %>

</body>
</html>
